@model ShoppingCartViewModel

<div class="row checkoutForm">

    <img src="~/img/Full-Cart-icon.png" />
    <div>
        <h4> Seu carrinho de compras : </h4>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-left">@item.Snack.Name</td>
                    <td class="text-right">@item.Snack.Price.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantity * item.Snack.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a asp-controller="ShoppingCarts" asp-action="RemoveItem" asp-route-snackId="@item.Snack.Id"><img src="~/img/delete.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.TotalValueShoppingCart.ToString("c");
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Orders" asp-action="Checkout">Encerrar Pedido</a>
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Adicionar mais lanches<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menuitem">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="dropdown-item">
                            <a asp-controller="Snacks" asp-action="List" style="color:black"
                               asp-route-categoryName="@category.CategoryName">@category.CategoryName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

